<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Formulaire d'inscription</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</head>
</head>
<body>
<div  class="spacer col-md-6 mx-auto" >
    <div class="card">
      <br/> <div class="card-header"><h3 class="card-title">Inscription</h3></div>
        <div class="card-body">
            <form th:action="@{/utilisateur/create}" method="post">
                <div class="form-group">
                    <label class="control-label">Nom d'utilisateur:
                        <span class="help-block" th:if="${#fields.hasErrors('utilisateur.username')}" th:errors="*{utilisateur.username}" style="color: red"></span>
                    </label>
                    <input class="form-control" type="text" name="username" required/>
                </div>
                <div class="form-group">
                    <label class="control-label">Nom:
                        <span class="red" th:errors="${utilisateur.lastname}"></span>
                    </label>
                    <input class="form-control" type="text" name="lastname" required/>
                </div>
                <div class="form-group">
                    <label class="control-label ">Prénom:
                        <span class="red" th:errors="${utilisateur.firstname}"></span>
                    </label>
                    <input class="form-control" type="text" name="firstname" required/>
                </div>
                <div class="form-group">
                    <label class="control-label">email:
                        <span class="help-block" th:if="${#fields.hasErrors('utilisateur.email')}" th:errors="*{utilisateur.email}" style="color: red"></span>
                     </label>
                     <input class="form-control" type="email" name="email" required/>
                 </div>
                 <div class="form-group">
                     <label class="control-label">Password:
                        <span  class="red" th:errors="${utilisateur.password}">
                         </span>
                     </label>
                     <input class="form-control" type="password" name="password" required/>
                 </div>
                 <div>
                     <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                     <button type="submit" class="btn btn-primary">Enregistrer</button>
                 </div>
             </form>
         </div>
     </div>

 </div>
 </body>
 </html>